/*all common css starts*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
ul,ol{
    list-style: none;
}
a,a:hover{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/*all common css ends*/

/*all header part css starts*/
.nav-link{
   padding: 0px 30px !important;
   font-size: 18px;
   transition: .4s;
}
.nav-link:hover{
    color: #6A4DF4;
}
.contactBtn{
    padding: 10px 40px;
    background-color: #6A4DF4;
    color: #fff;
    border-radius: 10px;
}
/*all header part css ends*/